/./data
3-11/data/
3-12/data/
3-13/data/
3-14/data/

3-11/mlruns/
3-12/mlruns/
3-13/mlruns/
3-14/mlruns/

3-11/__pycache__
3-12/__pycache__
3-13/__pycache__
3-14/__pycache__

3-11/predictions
3-12/predictions
3-13/predictions
3-14/predictions

